<link rel="stylesheet" href="/stylesheets/header.css">
  
<header>
<div class="logocab"> <img  src="/images/LOGO_COPCLUB_140x.webp" alt="logo" width="55px"></div>

<div class="barra">

  <div class="home"><a href="/" style="text-decoration:none">
      <font color=white> Home </font>
    </a>
  </div>
  <div class="marcas"><a href="../marcas" style="text-decoration:none">
      <font color=white> Marcas </font>
    </a></div>
  <div class="roupa"><a href="../roupas" style="text-decoration:none">
      <font color=white> Roupas </font>
    </a></div>
  <div class="tenis"><a href="../tenis" style="text-decoration:none">
      <font color=white> Tênis </font>
    </a></div>
  <div class="acessorios"><a href="../acessorios" style="text-decoration:none">
      <font color=white> Acessórios </font>
    </a></div>

</div>

<div class="segundo">
  <div class="sale">
    
   <a href="../sale"> <span class="iconify" data-icon="ps:sale-tag" style="color: #ff007d;" data-rotate="90deg"></span> </a>
    
    <p></p>
  </div>

  <div class="box">
    <a href="../pesquisa"><span class="iconify" data-icon="cil:magnifying-glass" style="color: white; width: 70px;"></span></a>
    <a href="../login"><span class="iconify" data-icon="carbon:user-avatar-filled-alt" style="color: white;"></span></a>
    <span class="iconify" data-icon="akar-icons:heart" style="color: white;"></span>
    <a href="../carrinho"><span class="iconify" data-icon="akar-icons:shopping-bag" style="color: white;"></span></a>
  </div>
</div>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</header>