<!DOCTYPE html>
<html lang="pt-Br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./teste.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Ropa+Sans&display=swap" rel="stylesheet">

  <title>Document</title>
</head>

<body>
  <header>


    <div class="logocab"> <img src="./img/LOGO_COPCLUB_140x.webp" alt="logo" width="55px"> </div>

    <div class="barra">

      <div class="home"><a href="/home" style="text-decoration:none">
          <font color=white> Home </font>
        </a></div>
      <div class="marcas"><a href="/marcas" style="text-decoration:none">
          <font color=white> Marcas </font>
        </a></div>
      <div class="roupa"><a href="/roupas" style="text-decoration:none">
          <font color=white> Roupas </font>
        </a></div>
      <div class="tenis"><a href="/tenis" style="text-decoration:none">
          <font color=white> Tenis </font>
        </a></div>
      <div class="acessorios"><a href="/acessorios" style="text-decoration:none">
          <font color=white> Acessorios </font>
        </a></div>

    </div>

    <div class="segundo">
      <div class="sale">
        
       <a href="../sale"> <span class="iconify" data-icon="ps:sale-tag" style="color: #ff007d;" data-rotate="90deg"></span> </a>
        
        <p></p>
      </div>

      <div class="box">
        <a href="../pesquisa"><span class="iconify" data-icon="cil:magnifying-glass" style="color: white;"></span></a>
        <a href="login"><span class="iconify" data-icon="carbon:user-avatar-filled-alt" style="color: white;"></span></a>
        <span class="iconify" data-icon="akar-icons:heart" style="color: white;"></span>
        <a href="carrinho"><span class="iconify" data-icon="akar-icons:shopping-bag" style="color: white;"></span></a>
      </div>
    </div>

  </header>
