
    <link rel="stylesheet" href="/stylesheets/acessorios.css">

<body>
    <%- include('./partials/header') %>

<section class="pagamento">
 
    <div class="trio">

        <div class="cartao">
          <span class="iconify" data-icon="ant-design:credit-card-outlined" style="color: #ff007d;"
            data-width="50"></span>
          <h5>10X SEM JUROS</h5>
          <h6>Parcela mínima de R$ 60,00</h6>
        </div>
  
        <div class="cartao">
          <span class="iconify" data-icon="bxs:discount" style="color: #ff007d;" data-width="50"></span>
          <h5>5% NO PIX</h5>
          <h6>5% de desconto em compras no pix</h6>
        </div>
  
        <div class="cartao">
          <span class="iconify" data-icon="entypo:back-in-time" style="color: #ff007d;" data-width="45"></span>
          <h5>TROCA EM ATÉ 30 DIAS</h5>
          <h6>Troca garantida sem uso</h6>
        </div>
  
      </div>
</section>

<div class="container-acessorios">
    
    <h1>Acessórios</h1>
    <hr class="hr1">
   
</div>

<div class="produtosLinha1">

<div class="produto1">
    <img id="produto1" src="/images/produto1.png" alt="produto1" />
    <p>Boné Anti Social Club "The Forums" Preto/Branco</p>
</div>

<div class="produto2">
    <img id="produto2" src="/images/produto2.png" alt="produto2" />
    <p>Isqueiro Zippo X Supreme "Logo" Vermelho</p>
</div>

<div class="produto3">
    <img id="produto3" src="/images/produto3.png" alt="produto3" />
    <p>Bone 5 Panel Supreme "Washed Seersucker" Cinza</p>
</div>
</div>

<div class="produtosLinha1">

<div class="produto4">
    <img id="produto4" src="/images/produto4.png" alt="produto4" />
    <p>Bucket Supreme X Stone Island Bege</p>
</div>

<div class="produto5">
    <img id="produto5" src="/images/produto5.png" alt="produto5" />
    <p>Boné 6 Panel Anti Social Club "Kkoch" Preto</p>
</div>

<div class="produto6">
    <img id="produto6" src="/images/produto6.png" alt="produto6" />
    <p>Meia Anti Social Club "Rich Italian" Branco</p>
</div>

</div>
<%- include('./partials/footer') %>
</body>
