<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta nome="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/stylesheets/compraConcluida.css" rel="stylesheet">
    </head>
<body>
  <%- include('./partials/header') %>
<div class="confirma">
    <span class="iconify" data-icon="healthicons:yes-outline" style="color: #fe017d;" data-width="300" data-height="300"></span>
<p class="f">Sua compra foi finalizada com sucesso!</p>
<hr class="hr" width="40%">
</div>

<div class="but"><button type="button" class="bot"> Imprimir Comprovante </button>
    
    <div class="but2"><button type="button" class="bot1"> Voltar as Compras ! </button>
</div>
</div> 


    
      <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
      <script src="https://kit.fontawesome.com/bc8a819dc8.js" crossorigin="anonymous"></script> 
      
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <%- include('./partials/footer') %> 
</body>
    <html>