<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pesquisa.css">
   
    <title>Cop Club</title>
</head>
<body>
    <%- include('./partials/header') %>
<main>
    <div class="pesquisa">
        <h1>Pesquise Nosso Site</h1>
        <div class="home"> <a href="/" class="hoime">Home></a> </div>


      
    </div>
    <%- include('./partials/footer') %> 
</footer>

</body>
</html>