@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

.imgMenu {
    width: 20px;
    height: 20px;
}

.pgtoCartao {
    width: 25px;
    height: 25px;
}

.pixLogo {
    width: 25px;
    height: 25px;
}

.trocaProduto {
    width: 25px;
    height: 25px;
}

.pagamento {

    display: flex;
    justify-content: center;
}

.pagamentoCartao {
    width: 15%;

}

.pix {
    width: 15%;

}

.troca {
    width: 15%;

}

.container-acessorios {
    display: list-item;

}


hr {

    width: 50%;
    border: 0;
    border-top: 3px solid black;


}

h1 {
    font-style: normal;
    text-align: center;
    margin-right: 400px;
    color: #ff0094;;

}


.produtosLinha1 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}

.produtosLinha2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}

.produto1 {
    font-size: 16.5px;
    text-align: center;
    line-height: 25px;
    max-width: 270px;
}

.produto2 {
    font-size: 16.5px;
    text-align: center;
    line-height: 25px;
    max-width: 270px;
}

.fotoProduto {
    width: auto;
    height: 140px;
}

.preco {
    color: #333333;
    font-size: 16px;
}
/*
#produto3 {
    width: 203px;
    height: 140px;
}

#produto4 {
    width: 184px;
    height: 118px;

}

#produto5 {
    width: 191px;
    height: 160px;

}

#produto6 {
    width: 188px;
    height: 152px;

}
 */


.paypal {
    width: 45px;
    height: 31px;
}

.visa {
    width: 45px;
    height: 31px;
}

.mastercard {
    width: 45px;
    height: 31px;
}

.amex {
    width: 45px;
    height: 31px;
}