header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

}

.logocab {
    background-color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.barra {
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
    width: 450px;
    color: inherit;
    font-size: 15px;
    margin-right: 35px;
    margin-left: 25px;
}

.segundo {
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

.sale {
    display: flex;
    font-size: 32px;
    justify-content: flex-start;
    align-items: center;
    width: 30px;
}

.box {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    margin-right: 30px;
    width: 150px;
    height: 20px;
    margin-left: 30px;

}
.roupas {
    display: flex;
    margin-bottom: 20px;
}

.painelroupas {
    flex-direction: row;
}

.cardsroupas {
    background-color: aqua;
    height: 10vh;
    width: 90%;
    align-items: center;
    justify-content: center;

}
.compras{
    display: flex;
    justify-content: space-between;
   
    margin: 5%;

}
.itens{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);  
    border-radius: 25px;
    
   
   
    
    

    
}

.cep{
    border: none;
    padding: 2%; 
    
}
.calcular{
    border: none;
    background-color: #FE017D;
    color: white;
    padding: 2%; 
}
.mcarrinho{
    width:60%;
}
.total{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    
}
.rcompra{
    width: 30%;
    box-shadow: 0px 0px 0px 2px  rgba(0,0,0,0.3);  
    border-radius: 25px;
    padding: 2%;
}
.lr{
    border-color: #FE017D;
    opacity: 0.3;

}
.f{
    border:none;
    padding: 2%;
    margin-left: 26%;
    margin-bottom: 2%;
    width: 50%;

}
.cc{
    border:none;
    background-color: #FE017D;
    padding: 2%;
    margin-left: 26%;
    width: 50%;
    color: aliceblue;
}
.img{
    justify-content: space-around;
    display: flex;
    
}
.it{
  width: 20%;  
  text-align: center;

}
.b{
    border:none;
    background-color: #FE017D;
    padding: 2%;
    width: 50%;
    color: aliceblue;
}
footer {
    margin-top: 2%;
    background-color: black;
    display: flex;

    height: 300px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.painel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1900px;
    height: 300px;
}

.cardx {
    background-color: black;
    color: white;
    width: 20%;
    height: 200px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 40px;
}


.card2 {
    color: #ffffff;
    width: 20%;
    height: 200px;
    padding: 10px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}
h3 {
    color: #FF007D;
}

button {
    border-radius: 10px;
    color: #FF007D
}


ul {
    text-align: left;
    justify-content: flex-start;
    line-height: 20px;
}
